/* fonts */

@font-face { font-family: Zrnic; src: url(fonts/zrnic.otf) format("opentype"); }

/* reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, button, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

:focus { outline: 0; }

ol, ul { list-style: none; }

a { text-decoration: underline; }

a:hover, a:active { text-decoration: none; }
 
/* general */

body { font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif; color: #e2e6da; background: url(../images/bg/bg.jpg) no-repeat #1b1f1e; margin: 0; line-height: 1; }
 
.content ul { list-style-type: square; }

.content ul li { padding: 5px; }

/* content */

#container { background: url(../images/bg/bg_container.gif) no-repeat 0px 165px; padding-left: 45px; padding-top: 45px; width: 935px; }
 
div#logo { background: url(../images/logo.png) no-repeat; width: 309px; height: 70px; }
 
div#logo h1 { text-indent: -9999px; }
 
#rightBox { width: 405px; float: right; position: relative; margin-top: 25px; }
 
#rightBox h3 { text-transform: uppercase; font-weight: lighter; font-size: 9pt; color: #626564; position: absolute; background: url(../images/bg/bg_headingdash.gif) no-repeat; display: block; width: 100%; }
 
#featured1 { border-bottom: 1px solid #313531; padding-bottom: 50px; margin-bottom: 50px; }
 
.imageContainer { height: 405px; height: 160px; margin-bottom: 1px; }
 
.imageContainer ul li { float: left; position: relative; }
 
.infoContainer ul li { background: url(../images/bg/icon_info.gif) no-repeat 10px 12px #fff; font-size: 0.9em; height: 29px; position: relative; padding: 11px 0 0 28px; color: #3b4549; }

a.visitLink { background: url(../images/bg/icon_cursor.gif) no-repeat 10px; display: block; border-left: 1px solid #1b1f1e; color: #3b4549; text-decoration: none; right: 0; top: 0; position: absolute; width: 37px; height: 29px; padding: 11px 0 0 25px; }

a.visitLink:hover { text-decoration: underline; }

a.visitLink:active { top: 1px; }
 
a.viewLink { background: url(../images/bg/icon_view.gif) no-repeat 10px; }
 
ul.workNav { position: absolute; left: -35px; }
 
ul.workNav li { margin-bottom: 8px; }
 
ul.workNav li a { display: block; width: 23px; height: 16px; text-indent: -9999px; outline: none; }
 
h3#title1 { left: -65px; top: -5px; background-position: 50px 5px; }
 
h3#title2 { left: -65px; top: 298px; background-position: 50px 5px; }
 
ul#nav1 { top: 163px; }

ul#nav2 { top: 465px; }
  
ul.workNav li a.prev, ul.workNav li a.pprev { background: url(../images/bg/arrows.png) no-repeat 0 -118px; }
 
ul.workNav li a.prev:hover, ul.workNav li a.pprev:hover { background: url(../images/bg/arrows.png) no-repeat 0 -162px; }
 
ul.workNav li a.next, ul.workNav li a.pnext { background: url(../images/bg/arrows.png) no-repeat 0 -30px; }
 
ul.workNav li a.next:hover, ul.workNav li a.pnext:hover { background: url(../images/bg/arrows.png) no-repeat 0 -74px; }
 
#rightBox h2 { display: none; }
 
/* leftbox */

#leftBox { padding-top: 50px; width: 420px; padding-left: 10px; position: relative; height: 478px; }
 
#leftBox h2 { margin: 0 0 10px 0; cursor: pointer; width: 350px; margin-left: -25px; color: #c4c7bc; font-family: "Zrnic", Verdana, Arial, Helvetica, sans-serif; font-size: 25px; text-transform: lowercase; letter-spacing: 3px; }
 
#leftBox p:first-child { margin-top: 0; }

/* accordion */

.contentBox { margin-bottom: 18px; }
 
.content { padding-right: 15px; font-size: 0.9em; }
 
.content p { margin: 10px 0; color: #afb2a8; max-width: 27em; line-height: 1.4em; }
 
.content p a { color: #cfb370; }

/* contact form */

label { margin: 5px 0; cursor: pointer; * cursor: hand; }

input, textarea { margin: 5px 0 10px; padding: 3px 0 3px 2px; border: 2px solid #fff; overflow: hidden; }

input:focus, textarea:focus { border: 2px solid #cfb370; }

textarea { height: 5em; line-height: 1em; overflow: auto; }

.button, .button:visited { font-size: 11px; font-weight: bold; line-height: 1; background: #767676 url(../images/bg/alert-overlay.png) repeat-x; display: inline-block; padding: 5px 10px 6px; color: #fff; text-decoration: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); text-shadow: 0 -1px 1px rgba(0,0,0,0.25); border-bottom: 1px solid rgba(0,0,0,0.25); position: relative; cursor: pointer; }

.button:hover { color: #fff; background-color: #878686; text-decoration: underline; }

.button:active { top: 1px; }
 
/* footer */

#footer { position: absolute; bottom: 0; border-left: 12px solid #91948c; left: -45px; padding-left: 45px; background: url(../images/bg/bg_footer.gif) no-repeat 15px top; height: 68px; }
 
#footer p { color: #65685f; font-size: 0.8em; margin-bottom: 1.3em; line-height: 1.35em; }

#footer p a { color: inherit; }